nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
  position: fixed;
  background-color: rgb(0, 0, 0);
}

.logo {
  height: 13vh;
  width: auto;
  opacity: 1;
}